.switch-container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.icon {
  font-size: 28px;
  transition: color 0.3s ease;
}

/* Sun Icon (light mode) */
.icon-light {
  color: #fbc02d; /* yellow */
}

/* Moon Icon (dark mode) */
.icon-dark {
  color: #90caf9; /* light blue */
}
